.overflow-auto::-webkit-scrollbar {
  width: 2px;
}

.overflow-auto::-webkit-scrollbar-thumb {
  background-color: #dee2e6;
}

.recipe-version {
  border-bottom: 1px solid #dee2e6;
}
.recipe-version:last-of-type {
  border-bottom: none;
}
